analyser/analyser
wrap/data
*.db
snort_output.txt
wrap/alert_json.txt
wrap/config/all.rules
wrap/config/rules.db
*.csv*.csv
*.csv
*.csv

*.csv
analyser/snort_output.txt
wrap/snort_output.txt
wrap/snort_output.txt

*.rules
*.json
*.zip
*.pcap
*.csv
*.states
alert_json.txt
*.sqlite
