.root {
  padding: 6px 15px;

  @media (min-width: 30em) {
    padding: 10px 40px;
  }
}

.charts {
  margin-top: 25px;
  height: 50vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100%;
  justify-content: stretch;
  align-items: stretch;

  @media (min-width: 600px) {
    height: 55vh;
  }

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1200px) {
    height: 75vh;
  }
}
