.root {
  background: var(--color-bg-sidebar);
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.rows {
  flex: 1 1 auto;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
}

.row {
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 6px 10px;

  @media (min-width: 769px) {
    padding: 8px 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  svg {
    color: var(--color-icon);
    width: 22px;
    height: 22px;

    @media (min-width: 769px) {
      width: 24px;
      height: 24px;
    }
  }
}

.rowActive {
  background: var(--color-sb-active-row-bg);
  color: var(--color-sb-active-row-font);

  @media (max-width: 768px) {
    background: none;
    border-bottom: 2px solid var(--color-focus-blue);
  }
}

.label {
  padding-left: 14px;
  font-size: 0.75em;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-top: 5px;
  }

  @media (min-width: 769px) {
    font-size: 1em;
  }
}
