.grid {
  color: var(--color-text);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 90%;
  justify-content: space-between;

  @media (min-width: 300px) {
    grid-template-columns: 49% 49%;
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, 32%);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 24%);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, 15%);
  }
}

.card {
  padding: 10px;
  background-color: var(--color-bg-card);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.label {
  color: var(--color-text-secondary);
  font-size: 0.7em;
}

.value {
  padding-top: 10px;
  font-size: 1.2em;

  @media (min-width: 720px) {
    font-size: 1.1em;
  }
}
